{
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"endOfLine": "auto",
	"semi": true,
	"printWidth": 70,
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"quoteProps": "as-needed",
	"trailingComma": "all"
}
